1-s2.0-S1462901125000516-main.pdf
A bibliometric analysis using machine learning to track paradigm shifts and analytical advances in forest ecology and forestry journal publications from 2010 to 2022.pdf
fe-2024-11-100233-2.jpg
